/*
		Credits :

		Found at Fontlibrary.org (https://fontlibrary.org/en/font/minecraftia)
		https://fontlibrary.org/face/minecraftia
		Source of the Font : https://fontlibrary.org/assets/fonts/minecraftia/71962a7e3d4a70435c030466a12f1d63/bf3f245b7cd53caea0cb07d265a64adc/MinecraftiaRegular.ttf


		Category : Serif

		License : CC-BY-SA

		Family : Minecraftia

		Designer : Andrew Tyler

		Foundry : Andrew Tyler

		Description : Cool Minecraft font !

		Full Language Support:
			Basic Latin, Euro, Western European

*/

/* ---------- (Start) Integrated CSS of Minecraft Font ---------- */
	@font-face {
		font-family: 'MinecraftiaRegular';						/* Name of the Font. Can be Customisable*/
		src: url('..\style/MinecraftiaRegular.ttf') format('truetype');	/* Source of the .ttf (the Font format)*/
		font-weight: normal;
		font-style: normal;
	}

	/* The following rules are deprecated. */ 	

	@font-face {
		font-family: 'Minecraftia';								/* Name of the Font. Can be Customisable*/
		src: url('..\style/MinecraftiaRegular.ttf') format('truetype');	/* Source of the .ttf (the Font format)*/
		font-weight: normal;
		font-style: normal;
	}
/* ---------- (End) Integrated CSS of Minecraft Font ---------- */

.MC {
	font-family: 'Minecraftia';
}

	@font-face {
		font-family: 'MC-Enchanting-Table';								/* Name of the Font. Can be Customisable*/
		src: url('..\style/minecraft-enchanting-table-font-by-DarkNight5047.ttf') format('truetype');	/* Source of the .ttf (the Font format)*/
		font-weight: normal;
		font-style: normal;
	}

.MC-Enchanting-Table {
	font-family: 'MC-Enchanting-Table';
}
/* -----------------------------------
	CSS Maded with ❤ by Chef Ui Chef
	V1.2
   ----------------------------------- */ 